<div class="card mx-4 my-4">
    <div class="card-header">
        <!-- ul.nav.nav-pills.card-header-pills>li.nav-item*2 -->
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item mr-2" *ngIf="!conectado">
                <input type="text" class="form-control" placeholder="Tu username..." name="username" [(ngModel)]="mensaje.username">
            </li>
            <li class="nav-item mr-2" *ngIf="!conectado">
                <button class="btn btn-success" type="button" (click)="conectar()" [disabled]="!mensaje.username"> Conectar </button>
            </li>
            <li class="nav-item" *ngIf="conectado">
                <button class="btn btn-warning" type="button" (click)="desconectar()"> Cerrar Sesión </button>

            </li>
        </ul>
    </div>
    <div #scrollChat [scrollTop]="scrollChat.scrollHeight" class="card-body" style="overflow-y: scroll; height: 360px;" *ngIf="conectado">
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-light" *ngFor="let mensaje of mensajes">
                <span *ngIf="mensaje.tipo == 'NUEVO_USUARIO'">
                    {{ mensaje.fecha | date: 'shortTime' }} @ {{ mensaje.texto }} 
                    <span [ngStyle]="{color: mensaje.color}">{{ mensaje.username }}</span>
                </span>
                <span *ngIf="mensaje.tipo == 'MENSAJE'">
                    {{ mensaje.fecha | date: 'shortTime' }}
                     <span [ngStyle]="{color: mensaje.color}">{{ mensaje.username }}</span>dice :
                <br> {{ mensaje.texto }}
                </span>

            </li>
        </ul>
    </div>
    <div class="card-footer" *ngIf="conectado">
        <form action="" class="form-inline">
            <div class="form-group mx-3">
                <input type="text" class="form-control" placeholder="Escribe un mensaje..." name="texto" [(ngModel)]="mensaje.texto" (keyup)="escribiendoEvento()">
            </div>
            <button class="btn btn-outline-primary" type="submit" (click)="enviarMensaje()"> Enviar </button>

        </form>
        <div>
            {{ escribiendo }}
        </div>
    </div>


</div>